* {
    margin: 0;
    padding: 0;
    user-select: none;
    outline: none;
}
body {
    overflow: hidden;
    background: #808080;
}

/*************       framebar              *************/
.frame-bar {
    display: flex;
    justify-content: space-between;
    color: white;
    overflow: hidden;
    align-items: center;
    justify-content: space-between;
    -webkit-app-region: drag;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
    height: 30px;
    background: #111;
    font-family: "Segoe MDL2 Assets", sans-serif;
}

.menu {
    -webkit-app-region: no-drag;
    display: flex;
    justify-content: space-around;
    height: 30px;
    list-style: none;
}

.menu li {
    padding-top: 6px;
    -webkit-app-region: no-drag;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    list-style: none;
    text-align: center;
}

.burger {
    width: 50px;
}

.Home,
.Library {
    width: 80px;
}

.Library:hover,
.burger:hover,
.Home:hover {
    background: #ffffff2c;
}

.frame-bar-buttons {
    background: #111;
    font-family: "Segoe MDL2 Assets", sans-serif;
    display: flex;
    justify-content: space-around;
    width: 150px;
    height: 30px;
}

.frame-bar-buttons li {
    padding-top: 6px;
    -webkit-app-region: no-drag;
    color: #ffffff;
    text-decoration: none;
    cursor: pointer;
    font-size: 10pt;
    list-style: none;
    text-align: center;
    width: 100px;
}
.frame-bar-buttons li p {
    padding-top: 2px;
}
.min-btn:hover,
.max-btn:hover {
    background: #ffffff2c;
}

.quit-btn:hover {
    background: red;
    color: white;
}

/*************       framebar              *************/

/*************       wrapper-main              *************/

.container-main {
    font-family: "Montserrat", sans-serif;
    color: white;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    overflow-y: auto;
}

.container-main .wrapper {
    background: #1d1d1d;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% 90%;
    overflow-y: auto;
    margin-top: 30px;
}

/*************       wrapper-main              *************/

/*************          webkit styles           *************/

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #1d1d1d;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #111;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #383838;
}

input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/*************          webkit styles           *************/

img {
    width: 100%;
    height: 100%;
}
